@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #666;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.header ul li:hover {
  color: #a749ff;

}